<filter>
    <interface-configurations xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ifmgr-cfg">
        <interface-configuration>
            <interface-name>{{ interface_name }}</interface-name>
        </interface-configuration>
    </interface-configurations>
</filter>